// .card-image {
// 	position: relative;
// 	overflow: hidden;
// }


.dark-section

.profile-card {
	box-shadow: 0 0.5em 1em -0.125em black, 0 0px 0 1px black
}

p {
	padding: 0 10px 0 10px;
}

select {
	text-align: right;
}